In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('CovidColombia.csv', usecols=['ID de caso', 'Fecha de notificación',
       'Ciudad de ubicación', 'Departamento o Distrito ', 'atención', 'Edad',
       'Sexo', 'Tipo', 'Estado','Fecha de muerte'],parse_dates=['Fecha de notificación','Fecha de muerte'], low_memory=False)

In [3]:
menordeUno= df['Edad'] < 1
UnoCuatro = np.logical_and(df['Edad'] > 0, df['Edad'] < 5)
CincoCatorce = np.logical_and(df['Edad'] > 4, df['Edad'] < 15)
QuinceCuarentayCuatro = np.logical_and(df['Edad'] > 14, df['Edad'] < 45)
CuarentayCincoSesentayCuatro  = np.logical_and(df['Edad'] > 44, df['Edad'] < 65)
SesentayCincoOchentayCuatro = np.logical_and(df['Edad'] > 64, df['Edad'] < 85)
OchentayCincoNoventayNueve = np.logical_and(df['Edad'] > 84, df['Edad'] < 100)
masdeCien = df['Edad'] > 99

In [4]:
departamento = 'Caldas'
municipio = 'Manizales'

In [5]:
grupoEdad = CuarentayCincoSesentayCuatro
GruposEtareos = df.loc[grupoEdad,['ID de caso','Fecha de notificación', 'Ciudad de ubicación',
       'Departamento o Distrito ', 'atención', 'Edad', 'Sexo', 'Tipo',
       'Estado', 'Fecha de muerte']]

In [6]:
ESTADO = 'Fallecido'
estado = df['Estado'] == ESTADO
GruposEtareos.loc[estado]

,ID de caso,Fecha de notificación,Ciudad de ubicación,Departamento o Distrito,atención,Edad,Sexo,Tipo,Estado,Fecha de muerte
152,153,2020-03-18,Bogotá D.C.,Bogotá D.C.,Fallecido,53,F,Relacionado,Fallecido,2020-04-06T00:00:00.000
196,197,2020-03-13,Cartagena de Indias,Cartagena D.T. y C.,Fallecido,58,M,Relacionado,Fallecido,2020-03-16T00:00:00.000
231,232,2020-03-20,Bogotá D.C.,Bogotá D.C.,Fallecido,59,F,Relacionado,Fallecido,2020-03-26T00:00:00.000
260,261,2020-03-23,Bogotá D.C.,Bogotá D.C.,Fallecido,61,M,Relacionado,Fallecido,2020-04-04T00:00:00.000
313,314,2020-03-20,Ipiales,Nariño,Fallecido,62,M,Importado,Fallecido,2020-04-09T00:00:00.000
...,...,...,...,...,...,...,...,...,...,...
326325,326366,2020-07-19,Lorica,Córdoba,Fallecido,55,M,En estudio,Fallecido,2020-07-24T00:00:00.000
326516,326557,2020-07-13,Tierralta,Córdoba,Fallecido,49,M,En estudio,Fallecido,2020-07-30T00:00:00.000
326541,326582,2020-07-19,Santa Marta,Santa Marta D.T. y C.,Fallecido,55,F,En estudio,Fallecido,2020-08-03T00:00:00.000
326797,326838,2020-07-16,Cereté,Córdoba,Fallecido,53,M,En estudio,Fallecido,2020-07-20T00:00:00.000
326833,326874,2020-07-18,Cereté,Córdoba,Fallecido,64,F,En estudio,Fallecido,2020-07-29T00:00:00.000

In [7]:
Persona_por_Grupos_Etareos = GruposEtareos['ID de caso'].count()
Persona_por_Grupos_Etareos

84200

In [8]:
estado_Grupo_etareo = GruposEtareos.loc[estado,'ID de caso'].count()
estado_Grupo_etareo

3251

In [9]:
TasaLetalidadxGrupoEtareo = (estado_Grupo_etareo/Persona_por_Grupos_Etareos)*100
TasaLetalidadxGrupoEtareo

3.86104513064133

In [10]:
dane= pd.read_csv('Dane2018_2023.csv', usecols= ['Dpto', 'Municipio', 'Género','2020'])
dane

           Dpto  Municipio       Género      2020
0     Antioquia   Medellín  AMBOS SEXOS   2533424
1     Antioquia   Medellín      HOMBRES   1193791
2     Antioquia   Medellín      MUJERES   1339633
3     Antioquia  Abejorral  AMBOS SEXOS     20287
4     Antioquia  Abejorral      HOMBRES     10558
...         ...        ...          ...       ...
3364    Vichada   Cumaribo      HOMBRES     41840
3365    Vichada   Cumaribo      MUJERES     37023
3366   País_Col   País_Col  AMBOS SEXOS  50372424
3367   País_Col   País_Col      HOMBRES  24594882
3368   País_Col   País_Col      MUJERES  25777542

[3369 rows x 4 columns]

In [11]:
filtro = dane['Género'] == 'AMBOS SEXOS'
Poblacion = dane.loc[filtro].drop(columns = 'Género')
Poblacion

           Dpto       Municipio      2020
0     Antioquia        Medellín   2533424
3     Antioquia       Abejorral     20287
6     Antioquia        Abriaquí      2735
9     Antioquia      Alejandría      4698
12    Antioquia           Amagá     31283
...         ...             ...       ...
3354    Vichada  Puerto Carreño     20294
3357    Vichada    La Primavera      9608
3360    Vichada   Santa Rosalía      4193
3363    Vichada        Cumaribo     78863
3366   País_Col        País_Col  50372424

[1123 rows x 3 columns]

In [12]:
PoblacionColombia = Poblacion.groupby(['Dpto', 'Municipio'])['2020'].sum().loc[departamento,municipio].sum()
PoblacionColombia

446160

In [13]:
daneEtareos = pd.read_csv('DaneEtareos.csv')