In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('CovidColombia.csv')
df_col_munic = pd.read_csv('DaneMunic2018_2023.csv')

In [3]:
pd.set_option('display.max_rows', 1000)

In [4]:
df_col_munic

,Dpto,Municipio,Género,2018,2019,2020,2021,2022,2023
0,Antioquia,Medellín,AMBOS SEXOS,2427129,2483545,2533424,2573220,2612958,2653729
1,Antioquia,Medellín,HOMBRES,1140658,1168926,1193791,1213421,1232847,1252750
2,Antioquia,Medellín,MUJERES,1286471,1314619,1339633,1359799,1380111,1400979
3,Antioquia,Abejorral,AMBOS SEXOS,20367,20258,20287,20602,20920,21246
4,Antioquia,Abejorral,HOMBRES,10534,10510,10558,10744,10937,11134
...,...,...,...,...,...,...,...,...,...
3361,Vichada,Santa Rosalía,HOMBRES,2130,2152,2173,2198,2217,2235
3362,Vichada,Santa Rosalía,MUJERES,1929,1978,2020,2054,2080,2105
3363,Vichada,Cumaribo,AMBOS SEXOS,72691,76196,78863,79984,80837,81651
3364,Vichada,Cumaribo,HOMBRES,38690,40488,41840,42372,42774,43156
3365,Vichada,Cumaribo,MUJERES,34001,35708,37023,37612,38063,38495

In [5]:
df

,ID de caso,Fecha de notificación,Código DIVIPOLA,Ciudad de ubicación,Departamento o Distrito,atención,Edad,Sexo,Tipo,Estado,...,FIS,Fecha de muerte,Fecha diagnostico,Fecha recuperado,fecha reporte web,Tipo recuperación,Codigo departamento,Codigo pais,Pertenencia etnica,Nombre grupo etnico
0,1,2020-03-02T00:00:00.000,11001,Bogotá D.C.,Bogotá D.C.,Recuperado,19,F,Importado,Leve,...,2020-02-27T00:00:00.000,NaN,2020-03-06T00:00:00.000,2020-03-13T00:00:00.000,2020-03-06T00:00:00.000,PCR,11,380.0,Otro,NaN
1,2,2020-03-06T00:00:00.000,76111,Guadalajara de Buga,Valle del Cauca,Recuperado,34,M,Importado,Leve,...,2020-03-04T00:00:00.000,NaN,2020-03-09T00:00:00.000,2020-03-19T00:00:00.000,2020-03-09T00:00:00.000,PCR,76,724.0,Otro,NaN
2,3,2020-03-07T00:00:00.000,5001,Medellín,Antioquia,Recuperado,50,F,Importado,Leve,...,2020-02-29T00:00:00.000,NaN,2020-03-09T00:00:00.000,2020-03-15T00:00:00.000,2020-03-09T00:00:00.000,PCR,5,724.0,Otro,NaN
3,4,2020-03-09T00:00:00.000,5001,Medellín,Antioquia,Recuperado,55,M,Relacionado,Leve,...,2020-03-06T00:00:00.000,NaN,2020-03-11T00:00:00.000,2020-03-26T00:00:00.000,2020-03-11T00:00:00.000,PCR,5,NaN,Otro,NaN
4,5,2020-03-09T00:00:00.000,5001,Medellín,Antioquia,Recuperado,25,M,Relacionado,Leve,...,2020-03-08T00:00:00.000,NaN,2020-03-11T00:00:00.000,2020-03-23T00:00:00.000,2020-03-11T00:00:00.000,PCR,5,NaN,Otro,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128633,128674,2020-06-29T00:00:00.000,11001,Bogotá D.C.,Bogotá D.C.,Casa,23,F,En estudio,Leve,...,2020-06-29T00:00:00.000,NaN,2020-07-08T00:00:00.000,NaN,2020-07-08T00:00:00.000,NaN,11,NaN,NaN,NaN
128634,128675,2020-07-01T00:00:00.000,11001,Bogotá D.C.,Bogotá D.C.,Casa,19,M,En estudio,Leve,...,2020-07-01T00:00:00.000,NaN,2020-07-08T00:00:00.000,NaN,2020-07-08T00:00:00.000,NaN,11,NaN,NaN,NaN
128635,128676,2020-06-26T00:00:00.000,11001,Bogotá D.C.,Bogotá D.C.,Casa,45,M,En estudio,Leve,...,2020-06-26T00:00:00.000,NaN,2020-07-08T00:00:00.000,NaN,2020-07-08T00:00:00.000,NaN,11,NaN,NaN,NaN
128636,128677,2020-06-27T00:00:00.000,11001,Bogotá D.C.,Bogotá D.C.,Casa,69,M,En estudio,Leve,...,2020-06-27T00:00:00.000,NaN,2020-07-08T00:00:00.000,NaN,2020-07-08T00:00:00.000,NaN,11,NaN,NaN,NaN
128637,128678,2020-05-16T00:00:00.000,11001,Bogotá D.C.,Bogotá D.C.,Casa,39,M,En estudio,Leve,...,2020-05-16T00:00:00.000,NaN,2020-07-08T00:00:00.000,NaN,2020-07-08T00:00:00.000,NaN,11,NaN,NaN,NaN

In [39]:
df_agrup = df.groupby('Departamento o Distrito ')

In [7]:
df_agrup

In [40]:
df_agrup.get_group('Caldas')

,ID de caso,Fecha de notificación,Código DIVIPOLA,Ciudad de ubicación,Departamento o Distrito,atención,Edad,Sexo,Tipo,Estado,...,FIS,Fecha de muerte,Fecha diagnostico,Fecha recuperado,fecha reporte web,Tipo recuperación,Codigo departamento,Codigo pais,Pertenencia etnica,Nombre grupo etnico
30,31,2020-03-12T00:00:00.000,17001,Manizales,Caldas,Recuperado,65,M,Importado,Leve,...,2020-03-12T00:00:00.000,NaN,2020-03-13T00:00:00.000,2020-03-26T00:00:00.000,2020-03-13T00:00:00.000,PCR,17,840.0,Otro,NaN
122,123,2020-03-17T00:00:00.000,17877,Viterbo,Caldas,Recuperado,38,F,Importado,Leve,...,2020-03-15T00:00:00.000,NaN,2020-03-19T00:00:00.000,2020-03-31T00:00:00.000,2020-03-19T00:00:00.000,PCR,17,724.0,Otro,NaN
180,181,2020-03-18T00:00:00.000,17001,Manizales,Caldas,Recuperado,22,F,Importado,Leve,...,2020-03-15T00:00:00.000,NaN,2020-03-21T00:00:00.000,2020-04-01T00:00:00.000,2020-03-21T00:00:00.000,PCR,17,840.0,Otro,NaN
217,218,2020-03-19T00:00:00.000,17380,La Dorada,Caldas,Recuperado,24,F,Relacionado,Leve,...,2020-03-16T00:00:00.000,NaN,2020-03-22T00:00:00.000,2020-03-31T00:00:00.000,2020-03-22T00:00:00.000,PCR,17,NaN,Otro,NaN
218,219,2020-03-19T00:00:00.000,17174,Chinchiná,Caldas,Recuperado,51,M,Importado,Leve,...,2020-03-14T00:00:00.000,NaN,2020-03-22T00:00:00.000,2020-03-28T00:00:00.000,2020-03-22T00:00:00.000,PCR,17,724.0,Otro,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
123998,124039,2020-07-02T00:00:00.000,17873,Villamaría,Caldas,Casa,41,M,En estudio,Leve,...,2020-07-01T00:00:00.000,NaN,2020-07-07T00:00:00.000,NaN,2020-07-07T00:00:00.000,NaN,17,NaN,NaN,NaN
123999,124040,2020-07-03T00:00:00.000,17380,La Dorada,Caldas,Casa,65,F,En estudio,Leve,...,2020-07-03T00:00:00.000,NaN,2020-07-07T00:00:00.000,NaN,2020-07-07T00:00:00.000,NaN,17,NaN,NaN,NaN
124000,124041,2020-06-30T00:00:00.000,17001,Manizales,Caldas,Casa,61,F,En estudio,Leve,...,2020-06-30T00:00:00.000,NaN,2020-07-07T00:00:00.000,NaN,2020-07-07T00:00:00.000,NaN,17,NaN,NaN,NaN
124001,124042,2020-06-29T00:00:00.000,17001,Manizales,Caldas,Casa,52,F,En estudio,Leve,...,2020-06-24T00:00:00.000,NaN,2020-07-07T00:00:00.000,NaN,2020-07-07T00:00:00.000,NaN,17,NaN,NaN,NaN
126161,126202,2020-07-01T00:00:00.000,17001,Manizales,Caldas,Casa,24,M,En estudio,Leve,...,2020-06-24T00:00:00.000,NaN,2020-07-08T00:00:00.000,NaN,2020-07-08T00:00:00.000,NaN,17,NaN,NaN,NaN

In [41]:
df_agrup['Departamento o Distrito '].value_counts()

Departamento o Distrito                                  Departamento o Distrito
Amazonas                                                 Amazonas                                                    2394
Antioquia                                                Antioquia                                                   7246
Arauca                                                   Arauca                                                       121
Archipiélago de San Andrés Providencia y Santa Catalina  Archipiélago de San Andrés Providencia y Santa Catalina       28
Atlántico                                                Atlántico                                                  13301
Barranquilla D.E.                                        Barranquilla D.E.                                          16271
Bogotá D.C.                                              Bogotá D.C.                                                40737
Bolívar                                                  Bolívar                                                     1217
Boyacá                                                   Boyacá                                                       446
Buenaventura D.E.                                        Buenaventura D.E.                                           1636
Caldas                                                   Caldas                                                       279
Caquetá                                                  Caquetá                                                       82
Cartagena D.T. y C.                                      Cartagena D.T. y C.                                        10037
Casanare                                                 Casanare                                                      91
Cauca                                                    Cauca                                                        623
Cesar                                                    Cesar                                                       1359
Chocó                                                    Chocó                                                       2033
Cundinamarca                                             Cundinamarca                                                3417
Córdoba                                                  Córdoba                                                     1264
Guainía                                                  Guainía                                                       14
Guaviare                                                 Guaviare                                                      39
Huila                                                    Huila                                                        397
La Guajira                                               La Guajira                                                   776
Magdalena                                                Magdalena                                                   1000
Meta                                                     Meta                                                        1405
Nariño                                                   Nariño                                                      4120
Norte de Santander                                       Norte de Santander                                           419
Putumayo                                                 Putumayo                                                      39
Quindío                                                  Quindío                                                      180
Risaralda                                                Risaralda                                                    654
Santa Marta D.T. y C.                                    Santa Marta D.T. y C.                                       1342
Santander                                                Santander                                                   1105
Sucre                                                    Sucre                                                       2139
Tolima                                                   Tolima                                                      1187
Valle del Cauca                                          Valle del Cauca                                            11210
Vaupés                                                   Vaupés                                                        29
Vichada                                                  Vichada                                                        1
Name: Departamento o Distrito , dtype: int64

In [42]:
df_agrup['Estado'].apply(lambda x:x.str.contains('Fallecido').sum())

Departamento o Distrito
Amazonas                                                    98
Antioquia                                                   61
Arauca                                                       0
Archipiélago de San Andrés Providencia y Santa Catalina      0
Atlántico                                                  657
Barranquilla D.E.                                          983
Bogotá D.C.                                                914
Bolívar                                                     53
Boyacá                                                      13
Buenaventura D.E.                                          102
Caldas                                                       7
Caquetá                                                      1
Cartagena D.T. y C.                                        374
Casanare                                                     0
Cauca                                                       22
Cesar                                                       32
Chocó                                                       62
Cundinamarca                                                71
Córdoba                                                     97
Guainía                                                      1
Guaviare                                                     0
Huila                                                       12
La Guajira                                                  36
Magdalena                                                  105
Meta                                                        17
Nariño                                                     125
Norte de Santander                                          21
Putumayo                                                     8
Quindío                                                      5
Risaralda                                                   18
Santa Marta D.T. y C.                                       62
Santander                                                   20
Sucre                                                      121
Tolima                                                      25
Valle del Cauca                                            395
Vaupés                                                       1
Vichada                                                      0
Name: Estado, dtype: int64

In [43]:
casos_dpto= df['Departamento o Distrito '].value_counts()

In [44]:
fallecidos = df_agrup['Estado'].apply(lambda x:x.str.contains('Fallecido').sum())

In [45]:
letalidad_df = pd.concat([casos_dpto, fallecidos], axis='columns', sort=False)

In [46]:
letalidad_df

,Departamento o Distrito,Estado
Bogotá D.C.,40737,914
Barranquilla D.E.,16271,983
Atlántico,13301,657
Valle del Cauca,11210,395
Cartagena D.T. y C.,10037,374
Antioquia,7246,61
Nariño,4120,125
Cundinamarca,3417,71
Amazonas,2394,98
Sucre,2139,121
Chocó,2033,62
Buenaventura D.E.,1636,102
Meta,1405,17
Cesar,1359,32
Santa Marta D.T. y C.,1342,62
Córdoba,1264,97
Bolívar,1217,53
Tolima,1187,25
Santander,1105,20
Magdalena,1000,105
La Guajira,776,36
Risaralda,654,18
Cauca,623,22
Boyacá,446,13
Norte de Santander,419,21
Huila,397,12
Caldas,279,7
Quindío,180,5
Arauca,121,0
Casanare,91,0
Caquetá,82,1
Guaviare,39,0
Putumayo,39,8
Vaupés,29,1
Archipiélago de San Andrés Providencia y Santa Catalina,28,0
Guainía,14,1
Vichada,1,0

In [52]:
letalidad_df.rename(columns= {'Departamento o Distrito ':'Número de casos', 'Estado':'Fallecidos'}, inplace=True)

In [53]:
letalidad_df

,Número de casos,Fallecidos
Bogotá D.C.,40737,914
Barranquilla D.E.,16271,983
Atlántico,13301,657
Valle del Cauca,11210,395
Cartagena D.T. y C.,10037,374
Antioquia,7246,61
Nariño,4120,125
Cundinamarca,3417,71
Amazonas,2394,98
Sucre,2139,121
Chocó,2033,62
Buenaventura D.E.,1636,102
Meta,1405,17
Cesar,1359,32
Santa Marta D.T. y C.,1342,62
Córdoba,1264,97
Bolívar,1217,53
Tolima,1187,25
Santander,1105,20
Magdalena,1000,105
La Guajira,776,36
Risaralda,654,18
Cauca,623,22
Boyacá,446,13
Norte de Santander,419,21
Huila,397,12
Caldas,279,7
Quindío,180,5
Arauca,121,0
Casanare,91,0
Caquetá,82,1
Guaviare,39,0
Putumayo,39,8
Vaupés,29,1
Archipiélago de San Andrés Providencia y Santa Catalina,28,0
Guainía,14,1
Vichada,1,0

In [54]:
letalidad_df['Tasa de letalidad %'] = (letalidad_df['Fallecidos']/letalidad_df['Número de casos'])*100

In [55]:
letalidad_df.sort_values(by='Tasa de letalidad %', ascending=False, inplace=True)

In [56]:
letalidad_df.loc['Caldas']

Número de casos        279.000000
Fallecidos               7.000000
Tasa de letalidad %      2.508961
Name: Caldas, dtype: float64

In [21]:
df_col_munic.head(500)

,Dpto,Municipio,Género,2018,2019,2020,2021,2022,2023
0,Antioquia,Medellín,AMBOS SEXOS,2427129,2483545,2533424,2573220,2612958,2653729
1,Antioquia,Medellín,HOMBRES,1140658,1168926,1193791,1213421,1232847,1252750
2,Antioquia,Medellín,MUJERES,1286471,1314619,1339633,1359799,1380111,1400979
3,Antioquia,Abejorral,AMBOS SEXOS,20367,20258,20287,20602,20920,21246
4,Antioquia,Abejorral,HOMBRES,10534,10510,10558,10744,10937,11134
...,...,...,...,...,...,...,...,...,...
495,Bolívar,Magangué,AMBOS SEXOS,133270,137030,140156,142199,143710,145145
496,Bolívar,Magangué,HOMBRES,66717,68596,70161,71194,71968,72706
497,Bolívar,Magangué,MUJERES,66553,68434,69995,71005,71742,72439
498,Bolívar,Mahates,AMBOS SEXOS,27692,28602,29355,29789,30105,30406
499,Bolívar,Mahates,HOMBRES,14193,14648,15023,15234,15387,15534

In [57]:
filtro = df_col_munic['Género'] == 'AMBOS SEXOS'
poblacionXdpto =  df_col_munic.loc[filtro, ['Dpto', 'Género', '2020']]

In [58]:
poblacionXdpto.head(500)

              Dpto       Género     2020
0        Antioquia  AMBOS SEXOS  2533424
3        Antioquia  AMBOS SEXOS    20287
6        Antioquia  AMBOS SEXOS     2735
9        Antioquia  AMBOS SEXOS     4698
12       Antioquia  AMBOS SEXOS    31283
...            ...          ...      ...
1485  Cundinamarca  AMBOS SEXOS    14241
1488  Cundinamarca  AMBOS SEXOS    33212
1491  Cundinamarca  AMBOS SEXOS    16934
1494  Cundinamarca  AMBOS SEXOS     2772
1497  Cundinamarca  AMBOS SEXOS     6811

[500 rows x 3 columns]

In [59]:
poblacionXdpto.drop(columns= ['Género'], inplace=True)

In [60]:
poblacionXdpto

           Dpto     2020
0     Antioquia  2533424
3     Antioquia    20287
6     Antioquia     2735
9     Antioquia     4698
12    Antioquia    31283
...         ...      ...
3351     Vaupés     1097
3354    Vichada    20294
3357    Vichada     9608
3360    Vichada     4193
3363    Vichada    78863

[1122 rows x 2 columns]

In [61]:
poblacionXdpto= poblacionXdpto.set_index('Dpto')

In [62]:
poblacionXdpto.shape

(1122, 1)

In [28]:
letalidad_df.shape

(662, 3)

In [63]:
poblacionXdpto

              2020
Dpto
Antioquia  2533424
Antioquia    20287
Antioquia     2735
Antioquia     4698
Antioquia    31283
...            ...
Vaupés        1097
Vichada      20294
Vichada       9608
Vichada       4193
Vichada      78863

[1122 rows x 1 columns]

In [64]:
letalidad_df

,Número de casos,Fallecidos,Tasa de letalidad %
Putumayo,39,8,20.512821
Magdalena,1000,105,10.500000
Córdoba,1264,97,7.674051
Guainía,14,1,7.142857
Buenaventura D.E.,1636,102,6.234719
Barranquilla D.E.,16271,983,6.041423
Sucre,2139,121,5.656849
Norte de Santander,419,21,5.011933
Atlántico,13301,657,4.939478
La Guajira,776,36,4.639175
Santa Marta D.T. y C.,1342,62,4.619970
Bolívar,1217,53,4.354971
Amazonas,2394,98,4.093567
Cartagena D.T. y C.,10037,374,3.726213
Cauca,623,22,3.531300
Valle del Cauca,11210,395,3.523640
Vaupés,29,1,3.448276
Chocó,2033,62,3.049680
Nariño,4120,125,3.033981
Huila,397,12,3.022670
Boyacá,446,13,2.914798
Quindío,180,5,2.777778
Risaralda,654,18,2.752294
Caldas,279,7,2.508961
Cesar,1359,32,2.354673
Bogotá D.C.,40737,914,2.243661
Tolima,1187,25,2.106150
Cundinamarca,3417,71,2.077846
Santander,1105,20,1.809955
Caquetá,82,1,1.219512
Meta,1405,17,1.209964
Antioquia,7246,61,0.841844
Casanare,91,0,0.000000
Guaviare,39,0,0.000000
Arauca,121,0,0.000000
Archipiélago de San Andrés Providencia y Santa Catalina,28,0,0.000000
Vichada,1,0,0.000000

In [65]:
mergeByIndex= pd.merge(letalidad_df, poblacionXdpto, right_index=True, left_index=True)

In [67]:
mergeByIndex.loc['Caldas']

        Número de casos  Fallecidos  Tasa de letalidad %    2020
Caldas              279           7             2.508961  446160
Caldas              279           7             2.508961   23048
Caldas              279           7             2.508961   36691
Caldas              279           7             2.508961   10556
Caldas              279           7             2.508961   10650
Caldas              279           7             2.508961   52267
Caldas              279           7             2.508961   11400
Caldas              279           7             2.508961   74006
Caldas              279           7             2.508961    5882
Caldas              279           7             2.508961   17794
Caldas              279           7             2.508961    9167
Caldas              279           7             2.508961   13490
Caldas              279           7             2.508961    2544
Caldas              279           7             2.508961   21114
Caldas              279           7             2.508961    6128
Caldas              279           7             2.508961   15324
Caldas              279           7             2.508961   15681
Caldas              279           7             2.508961   19755
Caldas              279           7             2.508961   51956
Caldas              279           7             2.508961   10568
Caldas              279           7             2.508961   19393
Caldas              279           7             2.508961   19967
Caldas              279           7             2.508961    4916
Caldas              279           7             2.508961   29363
Caldas              279           7             2.508961   10351
Caldas              279           7             2.508961   67429
Caldas              279           7             2.508961   12853

In [68]:
mergeByIndex

          Número de casos  Fallecidos  Tasa de letalidad %   2020
Amazonas             2394          98             4.093567  49737
Amazonas             2394          98             4.093567   2077
Amazonas             2394          98             4.093567   2955
Amazonas             2394          98             4.093567   3947
Amazonas             2394          98             4.093567    662
...                   ...         ...                  ...    ...
Vaupés                 29           1             3.448276   1097
Vichada                 1           0             0.000000  20294
Vichada                 1           0             0.000000   9608
Vichada                 1           0             0.000000   4193
Vichada                 1           0             0.000000  78863

[1078 rows x 4 columns]

In [69]:
mergeByIndex.rename(columns={'2020':'Población 2020'}, inplace=True)

In [70]:
mergeByIndex['Tasa de mortalidad por 100.000 hab'] = (mergeByIndex['Fallecidos']/mergeByIndex['Población 2020'])*100000

In [71]:
mergeByIndex.head(500)

,Número de casos,Fallecidos,Tasa de letalidad %,Población 2020,Tasa de mortalidad por 100.000 hab
Amazonas,2394,98,4.093567,49737,197.036412
Amazonas,2394,98,4.093567,2077,4718.343765
Amazonas,2394,98,4.093567,2955,3316.412860
Amazonas,2394,98,4.093567,3947,2482.898404
Amazonas,2394,98,4.093567,662,14803.625378
...,...,...,...,...,...
Cundinamarca,3417,71,2.077846,12325,576.064909
Cundinamarca,3417,71,2.077846,6879,1032.126763
Cundinamarca,3417,71,2.077846,16064,441.982072
Cundinamarca,3417,71,2.077846,14577,487.068670
Cundinamarca,3417,71,2.077846,10959,647.869331

In [72]:
mergeByIndex.loc['Caldas']

,Número de casos,Fallecidos,Tasa de letalidad %,Población 2020,Tasa de mortalidad por 100.000 hab
Caldas,279,7,2.508961,446160,1.568944
Caldas,279,7,2.508961,23048,30.371399
Caldas,279,7,2.508961,36691,19.078248
Caldas,279,7,2.508961,10556,66.312997
Caldas,279,7,2.508961,10650,65.727700
Caldas,279,7,2.508961,52267,13.392772
Caldas,279,7,2.508961,11400,61.403509
Caldas,279,7,2.508961,74006,9.458693
Caldas,279,7,2.508961,5882,119.007140
Caldas,279,7,2.508961,17794,39.339103
Caldas,279,7,2.508961,9167,76.360860
Caldas,279,7,2.508961,13490,51.890289
Caldas,279,7,2.508961,2544,275.157233
Caldas,279,7,2.508961,21114,33.153358
Caldas,279,7,2.508961,6128,114.229765
Caldas,279,7,2.508961,15324,45.679979
Caldas,279,7,2.508961,15681,44.640010
Caldas,279,7,2.508961,19755,35.434067
Caldas,279,7,2.508961,51956,13.472939
Caldas,279,7,2.508961,10568,66.237699
Caldas,279,7,2.508961,19393,36.095498
Caldas,279,7,2.508961,19967,35.057845
Caldas,279,7,2.508961,4916,142.392189
Caldas,279,7,2.508961,29363,23.839526
Caldas,279,7,2.508961,10351,67.626316
Caldas,279,7,2.508961,67429,10.381290
Caldas,279,7,2.508961,12853,54.461993